p {
  @apply font-body leading-relaxed;
}
.flex-group {
  .wp-block-group__inner-container {
    @apply flex items-center;
  }
}

h1 {
  @apply font-head text-3xl leading-none;
  @screen lg {
    @apply text-head;
  }
}
.ipad {
  overflow: hidden;
  background: linear-gradient(to top, #091523 0%, #0E243F 80%);
  p:not(.button) {
    a {
      border-bottom: 2px solid white;
      padding-bottom: 4px;
    }
  }
  @screen md {
    figure {
      transform: translateY(5%);
    }
    height: 900px;
  }
  @screen lg {
    height: 700px;
  }
}
.button {
  a {
    @apply py-2 px-4 border border-white rounded-full;
  }
}
nav {
  position: fixed;
  background: black;
  @apply text-menu text-white font-body p-4;
  display: none;
  top: 30px;
  right: 40px;
  &.open {
    @apply flex flex-col items-end;
  }
}
footer {
  background: black;
}
header {
  img {
    cursor: pointer;
  }
}